/* Футер */
.footer {
  flex-shrink: 0;
  background-color: #191919;
  color: white;
  padding: 20px 60px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  margin: 10px 0;
}

.footer-link {
  color: #ccc;
  text-decoration: none;
  margin-left: 20px;
  transition: color 0.3s;
}

.footer-link:hover {
  color: white;
}

/* Адаптив */
@media (max-width: 800px) {
    .footer-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .footer-section {
    margin: 5px 0;
  }

  .footer-link {
    margin: 0 10px;
  }
}