* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#canvas {
    width: 100%;
    height: 100%;
}




.container {
    display: flex;
    width: 90%;
    height: 80vh;
    gap: 20px;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.column-first {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 25px;
}

.canvas-box {
    flex: 1;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-box {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    height: 100%;
    overflow-y: auto;
}

.input-box {
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
}

.input-box textarea {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
