{% load static %}
{% load i18n %}
<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <p>&copy; 2025 Bremyn blog</p>
    </div>
    <div class="footer-section">
      <a href="{% url 'cooperation' %}" class="footer-link">{% trans "Cooperation"%}</a>
      <a href="https://t.me/bruhman_dev" class="footer-link" target="_blank" rel="noopener noreferrer">{% trans "Gamedev blog"%}</a>
    </div>
  </div>
  <link rel="stylesheet" href="{% static 'Gallery/css/footer.css' %}" />
</footer>